.bg-banner {
    padding: 0;
    text-align: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.bg-banner span {
    font-size: 3rem;
    font-weight: 400;
    line-height: 4.5rem;
    color: var(--color-dark);
}

.area-white {
    padding: 10rem 0;
}

.box-empresas {
    padding-bottom: 6rem;
    margin-bottom: 6rem;
}

.box-empresas a {
    text-decoration: none;
}

.empresas-img {
    width: 100%;
    height: 42rem;
    overflow: hidden;
    margin-bottom: 6rem;
}

.empresas-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-description {
    padding-right: 15rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.box-name {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
    line-height: 4.4rem;
    margin-bottom: 1rem;
}

.box-servicos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box-servicos .box {
    padding: 8rem;
    text-align: left;
    border: 1px solid #bbbbbb;
    border-bottom: none;
    border-left: none;
}

.box-servicos .box:last-child {
    border-right: none;
}

.box-servicos .box .box-description {
    padding-right: 0;
}

.box-servicos .box img {
    margin-bottom: 6rem;
}

.area-cod-gray {
    background: var(--color-cod-gray);
    padding: 10rem 0;
}

.area-cod-gray .small-title {
    color: #ffdf00;
}

.area-cod-gray h2 {
    color: var(--color-light);
}

.swiper-slide figure {
    width: 100%;
    height: 20rem;
    background: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-clientes {
    overflow: visible;
}

.box-depoimentos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box-depoimentos .box {
    padding: 8rem;
    text-align: left;
    border: 1px solid #bbbbbb;
    border-bottom: none;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-depoimentos .box .box-description {
    padding-right: 0;
    margin-bottom: 7rem;
}

.box-depoimentos .box:last-child {
    border-right: none;
}

.box-depoimentos .box .depoimentos-person {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.box-depoimentos .box .depoimentos-person figure{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: #fafe28;
    overflow: hidden;
    position: relative;
    margin-right: 2rem;
}

.box-depoimentos .box .depoimentos-person figure img{
    width: 100%;
    object-fit: cover;
}

.depoimentos-person div p {
    margin-bottom: 0;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #aaaaaa;
    font-weight: 500;
}

.depoimentos-person div p strong {
    color: #737373;
    font-weight: 700;
}

.contato {
    background: url(../../images/bg-contato.jpg) center no-repeat;
    background-size: cover;
}

.contato h2 {
    margin-bottom: 4rem;
}

.contato p {
    font-size: 2rem;
    line-height: 3.5rem;
    color: var(--color-light);
    margin-bottom: 4rem;
    font-weight: 500;
}