footer {
    padding: 10rem 0;
    background: var(--color-light);
    border-bottom: 1px solid #e3e3ea;
}

.menu-footer {
    margin-bottom: 8rem;
}

footer p {
    color: var(--color-dark);
    font-size: 1.8rem;
    line-height: 3.5rem;
}

.link-footer { 
    text-decoration: none;
    color: #0f427b;
    opacity: 1;
    display: block;
    margin-bottom: 0;
    transition: all .3s ease-in-out;
    font-weight: 600;
}

.link-footer:hover {
    color: #0f427b;
    opacity: 1;
}

.copyright {
    padding: 5rem 0;
    background: #ffffff;
}

footer ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: 0;
}

footer ul li {
    margin: 0 7.5rem;
}

footer ul li:first-child { margin-left: 0;}

footer ul li:last-child { margin-right: 0;}

footer span {
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: var(--color-dark);
    font-weight: 400;
}

footer a {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.5rem;
    display: inline-block;
    margin-bottom: .5rem;
}

footer a:hover {
    color: var(--color-dark);
    text-decoration: none;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.redes-sociais strong {
    margin-bottom: 3rem;
    font-size: 1.8rem;
    line-height: 3.5rem;
}

.copyright p {
    font-size: 1.4rem;
    line-height: 3.5rem;
    color: var(--color-dark);
    font-weight: 500;
}

.copyright p a {
    font-weight: 700;
    color: var(--color-dark);
}

.right-side {
    text-align: right;
}