header {
    padding: 2rem 0;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    transition: all .3s ease-in-out;
    z-index: 80;
    background: #fff;
    /* box-shadow: 0 10px 20px rgba(0,0,0,.1); */
}

.logo svg {
    width: 60%;
}

.menu {
    width: 100%;
    height: 100%;
}
.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
}

.menu ul li {
    margin: 0 4.5rem;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li:first-child {
    margin-left: 0;
}

.menu ul li a {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.6rem;
    color: #1d1d1b;
    text-decoration: none;
}

.mobile-menu {
    background:#ffffff;
    background-size: cover;
    width: 100%;
    height: 0;
    position: fixed;
    left:  0;
    top: 0;
    z-index: 910;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
}


.mobile-menu-header {
    display: flex;
    justify-content: space-between;
}

.mobile-menu-footer {
    justify-content: center;
    text-align: center;
    margin-bottom: 4rem;
}

.mobile-menu-header img {
    opacity: 0;
    visibility: hidden;
}

.mobile-menu-list {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.mobile-menu-list ul {
    padding: 0;
    margin: 0;
}

.mobile-menu-list li {
    list-style: none;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid var(--color-dark);
    padding: 2rem 0;
}

.mobile-menu-list li a {
    font-size: 4.2rem;
    color: var(--color-dark);
    text-decoration: none;
}

.close-menu {
    transform: translate(15px, -25px);
    cursor: pointer;
    color: #000;
}

.mobile-menu-open {
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 920;
    
    display: none;
}