@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css';
@import 'https://unpkg.com/swiper/swiper-bundle.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    outline: 0;
}

:root {
    --color-light: #ffffff;
    --color-dark: #1d1d1b;
    --color-silver-chalice: #A9A9A9;
    --color-cod-gray: #111111;

    --text-18: 1.8rem;

    --font-roboto: 'Roboto', sans-serif;
}


html { 
    font-size: 62.5%; 
    scroll-behavior: smooth; 
}

body { 
    font-family: var(--font-roboto), sans-serif; 
    font-size: var(--text-18); 
}

input, textarea { 
    outline: 0;
}

figure {
    margin: 0;
}

.webapp { 
    overflow: hidden; 
    min-height: 100vh; 
}

.container {
    max-width: 1560px;
    width: 90%;
}

.container-fluid {
    padding: 0;
}

.wow {
    opacity: 0;
}