a.button-primary {display: inline-block;}
a.button-light-blue {display: inline-block;}
button { border: none;}

.button-primary {
    height: 6rem;
    line-height: 6rem;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: var(--color-dark);
    background: #ffdf00;
    padding: 0 7rem 0 4rem;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    transition: all .3s ease-in-out;
}

.button-primary img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 35px;
}

.button-primary .yellow-arrow {
    display: none;
}

.button-primary:hover .yellow-arrow {
    display: block;
}

.button-primar:hover .black-arrow {
    display: none;
}

.button-primary:hover {
    background: var(--color-dark);
    color: #ffdf00;
}

