@media (min-width: 1200px) and (max-width: 1400px) {
    .empresas-right-side {
        padding-left: 4rem;
    }

    .empresas-left-side {
        padding-right: 4rem;
    }

    .box-description {
        padding-right: 10rem;
    }

    .box-servicos .box {
        padding: 5rem;
    }

    .box-depoimentos .box {
        padding: 5.5rem;
    }

    .swiper-slide img {
        max-width: 85%;
    }
}

@media (max-width: 1200px) {
    .empresas-right-side {
        padding-left: 2rem;
    }

    .empresas-left-side {
        padding-right: 2rem;
    }

    .box-description {
        padding-right: 7rem;
    }

    h2 {
        font-size: 2.8rem;
        line-height: 3.5rem;
    }

    .box-servicos .box {
        padding: 2rem;
    }

    .box-name {
        font-size: 2.1rem;
    }

    .box-depoimentos .box {
        padding: 4rem;
    }

    footer span {
        font-size: 2.1rem;
        line-height: 3rem;
    }

    footer p {
        font-size: 1.6rem;
        line-height: 3rem;
    }

    footer a {
        font-size: 1.6rem;
    }

    .redes-sociais strong {
        font-size: 1.6rem;
        line-height: 3rem;
    }

    .menu ul li {
        margin: 0 2rem;
    }

    .swiper-slide img {
        max-width: 80%;
    }
}

@media (max-width: 992px) {
    .swiper-slide img {
        max-width: 90%;
    }
}


@media (max-width: 769px) {

    .logo svg {
        width: 100%;
    }

    p {
        font-size: 1.5rem;
        line-height: 3rem;
    }

    h1 {
        font-size: 3.3rem;
        line-height: 4rem;
        margin-bottom: 1rem;
        font-weight: 600;
    }

    h1 br {
        display: none;
    }

    .bg-banner .banner-text {
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 3rem;
    }

    .bg-banner .banner-text br {
        display: none;
    }

    .bg-banner span {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .bg-banner {
        padding: 12rem 0 5rem;
        height: auto;
    }

    .area-white {
        padding: 3rem 0;
    }

    .small-title {
        font-size: 1.8rem;
        line-height: 2.2rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 3.2rem;
        margin-bottom: 3rem;
    }

    h2 br {
        display: none;
    }

    .empresas-img {
        width: 100%;
        height: 100%;
        margin-bottom: 3rem;
    }

    .box-name {
        font-size: 2rem;
        line-height: 4rem;
        margin-bottom: 1rem;
    }

    .box-description {
        padding-right: 0;
        margin-bottom: 0;
    }

    .box-empresas {
        padding-bottom: 0;
        margin-bottom: 5rem;
        margin-top: 0 !important;
    }

    .box-servicos {
        grid-template-columns: 1fr;
    }

    .box-servicos .box img {
        margin-bottom: 2rem;
    }

    .box-servicos .box {
        padding: 3rem;
    }

    .area-cod-gray {
        padding: 3rem 0;
    }

    .swiper-slide figure {
        height: 15rem;
    }

    .box-depoimentos {
        grid-template-columns: 1fr;
    }

    .box-depoimentos .box {
        padding: 3rem;
    }

    .box-depoimentos .box .box-description {
        margin-bottom: 4rem;
    }

    .contato p {
        font-size: 1.7rem;
        line-height: 3rem;
        margin-bottom: 2rem;
    }

    .button-primary {
        height: 5rem;
        line-height: 5rem;
        font-size: 1.5rem;
        margin-right: 0;
    }

    footer {
        padding: 3rem 0;
    }

    .menu ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu ul li {
        margin: 0;
    }

    .menu-footer {
        margin-bottom: 3rem;
    }

    footer span {
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 3rem;
        display: block;
    }

    footer p {
        font-size: 1.5rem;
        line-height: 3rem;
    }

    .redes-sociais strong {
        margin-bottom: 1rem;
        font-size: 1.6rem;
        line-height: 3.2rem;
    }

    .redes-sociais div {
        text-align: center;
    }

    .copyright {
        padding: 3rem 0;
        text-align: center;
    }

    .copyright p {
        font-size: 1.4rem;
        line-height: 3rem;
        margin-bottom: 2rem;
    }

    .right-side {
        text-align: center;
    }

    .empresas-left-side {
        padding-right: 0;
    }
    
    .empresas-right-side {
        padding-left: 0;
    }
}